*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    text-align: center;
  }
  
.logo{
    display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
    
    height: 100px;
    width: 120px;
}
.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #957554;
  }
.pages ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;   
    font-weight: bold; 
}
.pages button{
    background: transparent;
    outline: none;
    border: none;
    color: #957554;
}
.availability{
    padding: 20px;
    background-color: black;
    text-align: center;
}
.availability select,input,button{
    padding: 15px 10px 15px;
    margin: 0px 5px 0px;
    border-radius: 10px;
    color: gray;
    min-width: 50px;
    border: none;
    
}
.availability button{
    background-color: #DFAA5B;
    color: white;
}
select#select-city::-ms-expand {
    color:#DFAA5B /* Change arrow color */
  }


.welcome{
    background-image:url("hotelbg.png") ;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome h2, h4{
    color: white;
    text-align: center;
    
}
.welcome h2{
    font-size: 80px;
}
.welcome h4{
    font-size: 20px;
}

.explore-button{
    margin-top: 40px;
 
}
.explore-button button{
    font-size: 17px;
    background-color: #DFAA5B;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
}
.explore-button button:hover{
    color: #DFAA5B;
    background-color: white;
}

.facilities{
    background-color: rgb(255, 255, 255);
    width: 1200px;
    padding: 50px;
    margin:auto;
    position: relative ;
    bottom: 80px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 40px;
    color: #A28669;
}
.facilities img{
    height: 30px;
    margin-bottom: 10px;
}
.facilities .row{
    font-weight: bold;
    color: #B0977F;
    display: flex;
    justify-content: space-between;
    padding: 50px 150px 0px;
}

.room-grid{
    display: grid;
    padding: 50px 150px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.item{
    border-radius: 10px;
    min-height: 300px;
    min-width: 400px;
    color: white;
    text-align: center;
}
.item > div{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 -100px 200px -40px #000000;
}

.bg1{
    background-image: url("1.png");
}
.bg2{
    background-image: url("2.png");
}
.bg3{
    background-image: url("3.png");
}
.bg4{
    background-image: url("4.png");
}
.item h5{
    font-size: 25px;
    padding: 20px;

}
.item button{
    font-size: 15px;
    color: white;
    background-color: #DFAA5B;
    padding: 15px 30px 15px;
    transition: all 0.4s;
    cursor: pointer;
}
.item button,h5{
    position: relative;
    top: 140px;
}
.item button:hover{
    color: #DFAA5B;
    background-color: white;
}
.book{
    margin-top: 40px;
    text-align: center;
}
.book button{
    margin: 30px;
    background-color: #DFAA5B;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 50px 20px;
    transition: all 0.4s;
    cursor: pointer;
}
.book button:hover{
    color: #DFAA5B;
    background-color: rgb(236, 236, 236);
}

.footer{
    margin-top: 50px;
    background-color: #111111;
    min-height: 290px;
    color: white;
    font-size: 17px;
}
.footer-row{
    display: flex;
    justify-content: space-around;
}
.footer-column{
    padding: 60px 00px 80px;
}
.contact{
    margin-top: 70px;
}
.footer-column li{
    list-style-type: none;
    padding: 10px;  
}
.footer-column h4{
    font-size: 23px;
}
.footer-column input{
    margin: 25px 0px 25px;
}
.footer-column input,button{
    width: 200px;
}
.footer-column button{
    background-color: #DFAA5B;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
}
.footer-column button:hover{
    color: #DFAA5B;
    background-color: white;
}